{% extends "submit/base_edit.html" %}

{% block title -%}Add or Edit Metadata{%- endblock title %}

{% block info_container_middle -%}
  <div class="message-body">
    <h2>Editing metadata after submitting:</h2>
    <p>Once your submission has been announced, amendments to the
       <em>core metadata</em> may only be made through
       <a href="{{ url_for('help_replace') }}">replacement</a> or
       <a href="{{ url_for('help_withdraw') }}">withdrawal</a>.</p>
    <p>Non-core metadata <a href="{{ url_for('help_jref') }}">can be edited at
       any time</a> after announcement and without a new revision:</p>
    <ul>
      <li>Journal reference</li>
      <li>DOI</li>
      <li>MSC or ACM classification</li>
      <li>Report number</li>
    </ul>
  </div>
{%- endblock info_container_middle %}

{% set help_url=url_for('help_metadata') %}
{% set texism_help_text="Unicode, TeX accent characters, and MathJax are supported. Click for detailed information." %}
{% set author_help_text="Click for detailed information on author name formatting." %}
{% set doi_help_text="This field is <strong>only</strong> for a DOI. Separate multiple DOIs with a space. Click for a detailed help page."|safe %}
{% set joural_ref_help_text="Click for a detailed help page on journal reference formatting. Click for a detailed help page." %}
{% set report_num_help_text="This field is <strong>only</strong> for an institution-supplied number. Click for a detailed help page."|safe %}
{% set amc_help_text="For classifications in CS only. Click for a detailed help page." %}
{% set msc_help_text="For classifications in math only. Click for a detailed help page." %}

{% macro field_macro( field, class, help_url, help_text, required=True ) -%}
{% if required %}
  {% set input_attributes = {"aria-required":"True"} %}
  {% set opt_class = "" %}
{% else %}
  {% set input_attributes = {} %}
  {% set opt_class = "optional" %}
{% endif %}

  <div class="field">
    <div class="control">
      <label class="label {{opt_class}}" for="{{field.name}}">{{ field.label.text }}
        {% if not required %}<span>- Optional</span>{% endif %}
        <a href="{{help_url}}" class="help-bubble">{{svg.question()}}
          <div class="bubble-text">{{help_text}}</div>
        </a>
      </label>
      {% if field.errors %}
      <div class="help is-danger field-error">
        {% for error in field.errors %}
        {{ error }}
        {% endfor %}
      </div>
      {% endif %}
      {% if field.description %}
      <p class="help has-text-grey is-marginless">{{ field.description|safe }}</p>
      {% endif %}
      {% if field.errors %}
      {{ field(class=[class, "is-danger"]|join, **input_attributes)|safe }}
      {% else %}
      {{ field(class=class, **input_attributes)|safe}}
      {% endif %}
    </div>
  </div>
  {%- endmacro %}

  {% block within_content %}
  <form id="form" method="POST" action="{{ url_for('ui.add_metadata', submission_id=submission_id) }}">
    <div class="action-container">
      {{ form.csrf_token }}
      {{ field_macro( form.title, "input", help_url, texism_help_text ) }}
      {{ field_macro( form.authors_display, "textarea", help_url, author_help_text) }}
      {{ field_macro( form.abstract, "textarea", help_url, texism_help_text ) }}
      {{ field_macro( form.comments, "textarea", help_url, texism_help_text ) }}
      {# #################### OPTIONAL FIELDS #################### #}
      {{ field_macro( form.doi, "input", help_url, doi_help_text, required=False) }}
      {{ field_macro( form.journal_ref, "input", help_url, joural_ref_help_text, required=False) }}
      {{ field_macro( form.report_num, "input", help_url, report_num_help_text, required=False) }}
      {{ field_macro( form.acm_class, "input", help_url, amc_help_text, required=False) }}
      {{ field_macro( form.msc_class, "input", help_url, msc_help_text, required=False) }}
  </div>

</form>
{% endblock within_content %}
