{% extends "submit/base.html" %}

{% block title -%}Submission Received{%- endblock title %}

{% block within_content %}
<div class="columns">
  <div class="column">
    <div class="message is-success">
      <div class="message-body">
        <p class="has-font-weight-bold">
          {{svg.exclamation(klass="icon filter-green")}}
          Your submission has been successfully received.</p>
        <p>Your submission time stamp is: {{ submission.submitted }} (UTC).</p>
        <p>All submissions are subject to moderation which may cause a delay in announcement in some cases.</p>
        <p>If you need to make further changes click on "Manage my submission" below. To make changes you must first unsubmit your paper. Unsubmitting will remove your paper from the queue. Resubmitting will assign a new timestamp.</p>
        <p>Your submission id is: <tt>submit/{{ submission.submission_id }}</tt></p>
        <p>You will receive a confirmation email at <tt>{{submitter.email}}</tt></p>
      </div>
    </div>
  </div>
</div>

<div class="buttons">
  <a class="button is-link" href="{{ url_for('ui.manage_submissions') }}">Manage My Submissions</a>
  <a class="button" href="{{ url_for('home') }}">arXiv Home Page</a>
</div>

{% endblock within_content %}
