{% extends "submit/base_edit.html" %}

{% block title -%}Choose Cross-List Categories (Optional){%- endblock title %}

{% block important_text_box %}
<div>You may cross-list your article to another relevant category here.
  If accepted your article will appear in the regular listing for that category (in the cross-list section).
  Cross-lists should be of direct interest to the professionals studying that field, not simply use techniques of, or derived from, that field.
</div>
<div class="message is-warning">
  <div class="message-body">
    <div>{{svg.info(klass="icon filter-orange")}}
      <span class="has-text-weight-bold">Adding more than three cross-list classifications will result in a delay in the acceptance of your submission.</span>
      Readers consider excessive or inappropriate cross-listing to be bad etiquette.
      It is rarely appropriate to add more than one or two cross-lists.
      Note you are unlikely to know that a cross-list is appropriate unless you are yourself a reader of the archive which you are considering.
    </div>
  </div>
</div>
{% endblock important_text_box %}

{% block within_content %}
{% if formset.items %}
<div class="content-container">
  <p>(Optional) Add cross-list categories from the list below.</p>
  {% for category, subform in formset.items() %}
  <!-- TODO: limit number of cross links to no more than 5 total -->
  <form method="POST" class="form form-margin control" action="{{ url_for('ui.cross_list', submission_id=submission_id) }}">
    {{ subform.csrf_token }}
    <ol class="file-tree">
      <li>
        {{ subform.operation }}
        {{ subform.category()|safe }}
        <span class="tag" style="border: 1px solid #999;">{{ subform.category.data }}</span>
        <span class="category-name-label">{{ category|get_category_name }}</span>
        <button class="button is-link" style="border: 0;background:transparent;" title="Remove category">
          {{svg.trashcan()}}
          <span class="is-sr-only">Remove category</span>
        </button>
      </li>
    </ol>
  </form>
  {% endfor %}
</div>
{% endif %}

<form id="form" method="POST" action="{{ url_for('ui.cross_list', submission_id=submission_id) }}">
  <div class="action-container">
    {{ form.csrf_token }}
    {{ form.operation }}

      {% with field = form.category %}
      <label class="label" id="crosslist" for="category" style="margin-top: 1em">Add a cross-list category
        <a href="{{ url_for('help_cross') }}" class="help-bubble">
          {{svg.question()}}
          <span class="is-sr-only">Learn more about cross-list suggestions</span>
          <div class="bubble-text">Cross-list suggestions indicate areas of overlapping interest for the submission. Click here to learn more.</div>
        </a>
      </label>
      <div class="field has-addons" style="margin-bottom: 3em">
        <div class="control control-cross-list">
          <div class="select">
          {% if field.errors %}
            {{ field(class="is-danger")|safe }}
          {% else %}
            {{ field()|safe }}
          {% endif %}
          </div>
          {% if field.errors %}
            <div class="help is-danger field-error">
              {% for error in field.errors %}
                  {{ error }}
              {% endfor %}
            </div>
          {% endif %}
          {% if field.description %}
          <p class="help has-text-grey">
            {{ field.description|safe }}
          </p>
          {% endif %}
        </div>
        <div class="control">
          <button class="button is-link">Add</button>
        </div>
      </div>
      {% endwith %}

  </div>
  {{ submit_macros.submit_nav(submission_id) }}
</form>
{% endblock within_content %}
