{% extends "submit/base_edit.html" %}

{% block title -%}Review and Approve Your Submission{%- endblock title %}
{% block important_text_box %}
{#<a href="{{ url_for('ui.delete_submission', submission_id=submission_id) }}" name="cancel" class="button" style="border:0" value="cancel" aria-label="Cancel submission" title="Cancel submission">
  {{svg.trashcan()}}
  Cancel and Delete
</a>#}
{% endblock important_text_box %}


{% block within_content %}
<div class="columns">
  <div class="column">
    <div class="message is-warning">
      <div class="message-body">
        <p>{{svg.info(klass="icon filter-orange")}} <span class="has-text-weight-bold">Review your submission carefully!</span>
          Editing your submission after clicking "confirm and submit" will remove your paper from the queue.
          A new timestamp will be assigned after resubmitting.</p>
        <p>Note that a citation link with your final arxiv identifier is not available until after the submission is accepted and published.</p>
        <p>Once your submission has been announced, amendments to files or core metadata may only be made through
          <a href="{{ url_for('help_replace') }}">replacement</a> or <a href="{{ url_for('help_withdraw')}}">withdrawal</a>.
          <em>Exception: You will be able to update <a href="{{ url_for('help_jref')}}">journal reference, DOI, MSC or ACM classification, or report number information</a> at any time without a new revision.</em></p>
      </div>
    </div>
  </div>
</div>

{% if submission.version > 1 %}
  {% set arxiv_id = submission.arxiv_id %}
{% else %}
  {% set arxiv_id = "0000.00000" %}
{% endif %}

<div class="content-container">
{{ macros.abs(
  arxiv_id or "0000.00000",
  submission.metadata.title,
  submission.metadata.authors_display|tex2utf,
  submission.metadata.abstract,
  submission.created,
  submission.primary_classification,
  comments = submission.metadata.comments,
  msc_class = submission.metadata.msc_class,
  acm_class = submission.metadata.acm_class,
  journal_ref = submission.metadata.journal_ref,
  doi = submission.metadata.doi,
  report_num = submission.metadata.report_num,
  version = submission.version,
  submission_history = submission_history,
  secondary_categories = submission.secondary_classification) }}
</div>


<form method="POST" action="{{ url_for('ui.final_preview', submission_id=submission_id) }}">

  <div class="content-container">
    <a href="{{ url_for('ui.add_metadata', submission_id=submission_id) }}" class="button is-small is-link is-outlined">
      {{svg.pencil()}}<span class="has-text-weight-normal">Edit Metadata</span>
    </a>
    <a href="{{ url_for('ui.file_upload', submission_id=submission_id) }}" class="button is-small is-link is-outlined">
      {{svg.pencil()}}<span class="has-text-weight-normal">Edit Uploaded Files</span>
    </a>
    <a href="{{ url_for('ui.file_preview', submission_id=submission_id) }}" target="_blank" class="button is-small is-link">
      <span>View PDF</span>
      {{svg.exclamation(klass="icon filter-white", title="PDF will open in new tab")}}
    </a>
  </div>

  <div class="action-container">
    {{ form.csrf_token }}
    {% if form.proceed.errors %}<div class="notification is-danger">{% endif %}
    <div class="field">
      <div class="control">
        <div class="checkbox">
          {{ form.proceed }}
          {{ form.proceed.label }}
        </div>
        {% for error in form.proceed.errors %}
          <p class="help is-danger field-error">{{ error }}</p>
        {% endfor %}
      </div>
    </div>
    {% if form.proceed.errors %}</div>{% endif %}
  </div>

</form>
{% endblock within_content %}
