{% extends "submit/base_edit.html" %}

{% block addl_head %}
{{super()}}
 <script src="{{ url_for('static', filename='js/filewidget.js') }}"></script>
{% endblock addl_head %}

{% macro display_preflight_tree(key, item) %}
  {% if 'filename' in item %}
  <tr>
    <td>
      <input type="hidden" name="all_files" value="{{ item.filename }}">
      <input type="checkbox" name="selected_files" value="{{ item.filename }}">
    </td>
    <td>{{ item.filename }}</td>
    <td>
      {% if item.used_by %}used by: {{ item.used_by | join(', ') }}<br>{% endif %}
      {% if item.used_by_tex %}used tex: {{ item.used_by_tex | join(', ') }}<br>{% endif %}
      {% if item.used_by_bib %}used bib: {{ item.used_by_bib | join(', ') }}{% endif %}
    </td>
  </tr>
  {% else %}
  <tr><td colspan="3"><em>{{ key }}/</em></td></tr>
  {% for k, subitem in item.items() %}
    {{ display_preflight_tree(k, subitem) }}
  {% endfor %}
  {% endif %}
{% endmacro %}

{% block title -%}Review Files{%- endblock title %}

{% block important_text_box %}
  <p>Review Files sidebar information goes here</p>
{% endblock important_text_box %}

{% block within_content %}
{% if immediate_notifications %}
  {% for notification in immediate_notifications %}
  <div class="notification is-{{ notification.severity }}" role="alert" aria-atomic="true">
    {% if notification.title %}<h2 class="is-size-5 is-marginless">{{ notification.title }}</h2>{% endif %}
    <p>
      {{ notification.body}}
    </p>
  </div>
  {% endfor %}
{% endif %}

<form id="form" class="form" action="{{ url_for('ui.review_files', submission_id=submission_id) }}" method="POST" enctype="multipart/form-data">
  <div class="columns action-container">

    <div class="column is-one-half-desktop is-one-half-tablet">
      {{ form.csrf_token }}
      
      <div class="field">
        <label class="label">{{ form.source_file.label }}</label>
        <div class="control">
          <div class="select is-fullwidth">
            {{ form.source_file }}
          </div>
        </div>
        {% if form.source_file.errors %}
          {% for error in form.source_file.errors %}
            <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        {% endif %}
      </div>

      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label">{{ form.compiler.label }}</label>
            <div class="control">
              <div class="select is-fullwidth">
                {{ form.compiler }}
              </div>
            </div>
            {% if form.compiler.errors %}
              {% for error in form.compiler.errors %}
                <p class="help is-danger">{{ error }}</p>
              {% endfor %}
            {% endif %}
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">{{ form.compiler_version.label }}</label>
            <div class="control">
              <div class="select is-fullwidth">
                {{ form.compiler_version }}
              </div>
            </div>
            {% if form.compiler_version.errors %}
              {% for error in form.compiler_version.errors %}
                <p class="help is-danger">{{ error }}</p>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>

      <hr />

      {% if file_notes %}
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>
              Delete
              <br>
              <a href="#" onclick="document.querySelectorAll('input[name=selected_files]').forEach(cb => cb.checked = false); return false;">keep all</a>
            </th>
            <th>File Name</th>
            <th>Auto-detected Notes</th>
          </tr>
        </thead>
        <tbody>
          {% for k, item in (file_notes | group_preflight_files).items() %}
            {{ display_preflight_tree(k, item) }}
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p class="title is-4 breathe-vertical has-text-centered">
        No files have been uploaded yet.
      </p>
      {% endif %}

    </div>
  </div>
</form>

{% endblock within_content %}
