{% extends "submit/base_edit.html" %}

{% block title -%}Verify Your Contact Information{%- endblock title %}

{% block important_text_box -%}
<div class="message-body">
  <p>A current email address is required to complete submission. Your email address is viewable to  <a href="{{ url_for('help_email') }}">registered arXiv users</a>.</p>
</div>

{%- endblock important_text_box %}

{% block within_content %}
<p>Review your contact information for accuracy or <a href="{{ url_for('account') }}">edit your contact information</a> before proceeding</p>
<form id="form" method="POST" action="{% if submission_id %}{{ url_for('ui.verify_user', submission_id=submission_id) }}{% else %}{{ url_for('ui.verify_user') }}{% endif %}">
  {{ form.csrf_token }}
  <div class="field action-container verify-user-checkbox">
    {% if form.verify_user.errors %}<div class="notification is-danger">{% endif %}
    <div class="control">
      <div class="checkbox">
        {{ form.verify_user }}
        {{ form.verify_user.label }}
      </div>
      {% for error in form.verify_user.errors %}
        <p class="help is-danger field-error">{{ error }}</p>
      {% endfor %}
    </div>
    {% if form.verify_user.errors %}</div>{% endif %}
  </div>

</form>
<article class="user-info content-container verify-user-box">
  <div class="field is-horizontal">
      <div class="field-label">
        <span class="has-text-weight-semibold">First or given name(s):</span>
      </div>
      <div class="field-body"><span class="is-expanded">{{ user.name.forename }}</span></div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label">
      <span class="has-text-weight-semibold">Last or family name(s):</span>
    </div>
     <div class="field-body">{{ user.name.surname }}</div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label">
      <span class="has-text-weight-semibold">Suffix:</span>
    </div>
    <div class="field-body">{{ user.name.suffix }}</div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label">
      <span class="has-text-weight-semibold">Affiliation:</span>
    </div>
    <div class="field-body">{{ user.profile.affiliation }}</div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label">
      <span class="has-text-weight-semibold">E-mail:</span>
    </div>
    <div class="field-body">{{ user.email }} <span class="field-note"> (A current email address is required)</span></div>
  </div>
  <!--
  <div class="field is-horizontal">
    <div class="field-label">
    </div>
    <div class="field-body"><a class="button is-small" href="{{ url_for('account') }}">Edit User Information</a></div>
  </div>
  -->
</article>


{% endblock within_content %}
